<div class="container">
	<form action="/searchvenues">
		<h1>Plans tonight?</h1>
		<h2>
			Where are you located?
		</h2>
		<input type="text" name="search" placeholder="Location?"/>
		<button type="submit">Find venue</button>
	</form>

</div>