<!DOCTYPE html>

<html>
	<head>
		<title>Nightlife Coordination Application</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
	</head>

	<header>
		{{> navbar}}
	</header>

	<body>
		{{{body}}}
		<script type="text/javascript" src="common/ajax-functions.js"></script>
	</body>
	<footer class="footer footer-container">
		{{> footer}}
	</footer>
</html>